header{
    background-color: black;
    padding: 20px;
}
nav a{
    color: #ccc; 
    text-decoration: none;
    margin: 0 20px;
    padding: 10px 20px;
}
nav a:hover {
  background-color: rgba(255, 255, 255, 0.1); /* sutil */
  color: #fff;
}

/* Login*/
nav {
  display: flex;
  align-items: center; 
}

nav a[routerLink="/login"] {
  margin-left: auto;
}