/* app.component.css o styles.css */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ocupa al menos el 100% de la altura de la ventana */
}

.content-wrapper {
  flex-grow: 1; /* Esto hace que el contenedor del dashboard crezca */
}

/* Opcional: Para evitar márgenes o paddings indeseados */
body, html {
  margin: 0;
  padding: 0;
}

.custom-select:focus {
  border-color: #007bff !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
}

.navbar-brand {
  font-size: 1.3rem;
  letter-spacing: 0.5px;
}

.nav-link.active {
  font-weight: bold;
  color: #ffc107 !important;
}

.nav-link {
  transition: 0.2s ease;
}

.nav-link:hover {
  color: #ffc107 !important;
}
